

.stays-promo-banner-img-section{
    height:100%;
    max-height: 275px;
    width:100%;
    text-align: center;
    margin: 0 ;
}

.banner-slide{
    width: 90%;
    height: 100%;
    margin: 0 5%;
    position: absolute;
    opacity: 0;
    transition: opacity ease-in-out 0.4s;

    img{
        max-width:900px;
        max-height: 280px;
        object-fit: cover;
    }
}

.container-banner-dots{
    position: absolute;
    bottom: 0;
    top: 245px;
    z-index: 5;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.btn-banner-slide{
    flex: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    display: flex;
    border: none;
    cursor: pointer;
    justify-content: center;
    color: #0064D3;
    background:none;
    align-items: center;
    cursor: pointer;
}

.banner-container-slider{
    max-width: 1000px;
    height: 277px;
    text-align:center;
    margin: 0px auto 0;
    position: relative;
    overflow: hidden;
}

.banner-dot{
    width:  2px;
    height: 2px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid transparent;
    margin: 0 5px;
    background: #dfdfdf;  
}

.banner-dot.active {
    background:  #ffffff;
  }