
.home-promo-slider-container{
    margin: 10px;
    width: 100%;
    height: 100%x;
}


.home-promo-slider{
    height: 100%;
    img{
        border-radius:12px;
        object-fit: cover;
        width: 340px;
        height: 99%;  
    }
}