

.other-popular-destinations{
    text-align:left;
    width:80%;
    margin: 0 auto;

    h2{
        margin: 40px 0px;
        font-weight: 500;
        margin: 0;
        padding:0px 0px ;
        font-size: 28px;
    }
}

.other-popular-destination-container{
    margin:20px 0px 10px;
    max-width: 1500px;
    margin: 0 auto;
}